{% render 'partials/head.liquid' %}

<header>
  <h1>I ❤️ WEB(DEV)</h1>
  {% render 'partials/nav.liquid' %}
</header>

<main>
  <section class="list-overview">
    <h2>Learning Journal</h2>
    <ul>
      {% assign files_by_date = files | sort: "data.date" | reverse %}
      {% for file in files_by_date limit: 5 %}
        <li class="blog-title">
          <a href="/learning-journal/{{ file.data.date | date: '%Y-%m-%d' }}">{{ file.data.title }}</a>
          {{ file.data.date | date: '%Y-%m-%d' }}
        </li>
      {% endfor %}
      <li>
        <a href="/learning-journal">View all</a>
      </li>
    </ul>
  </section>

  <section class="list-overview">
    <h2>Experiments</h2>
    <ul>
      {% for experiment in experiments limit: 5 %}
        <li>
          <a href="/digital-garden/{{ experiment }}">{{ experiment | slice: 0, -5 }}</a>
        </li>
      {% endfor %}
      <li>
        <a href="/digital-garden">View all</a>
      </li>
    </ul>
  </section>

  <section class="list-overview">
    <h2>Projects</h2>
    <ul>
      <li><a href="https://user-experience-enhanced-website-tumi.onrender.com/">TuMi Mundo</a></li>
      <li><a href="https://connect-your-tribe-team-squad-page-apxc.onrender.com/">Squad Page 1G</a></li>
      <li><a href="https://irisvw.github.io/the-startup-responsive-interactive-website/">ABN AMRO</a></li>
      <li><a href="https://irisvw.github.io/look-and-feel-corporate-identity/">Qatar Museums</a></li>
      <li><a href="https://irisvw.github.io/etch-a-sketch/">Etch-a-sketch</a></li>
      <li><a href="/projects">View all</a></li>
    </ul>
  </section>
</main>

<footer>
  <p>Connect with me or view my work on:</p>
  <ul>
    <li>
      <a href="https://github.com/irisvw/">Github</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/iris-van-willigen-678463292/">LinkedIn</a>
    </li>
    <li>
      <a href="https://www.instagram.com/yellowish_iris/">Instagram</a>
    </li>
  </ul>

  <p>Made by Iris van Willigen</p>
  <a href="#">Back to top</a>
</footer></body></html>